 {% extends 'recovery/layout.html' %}
{% block content %}
 <div id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/recovery/home">Home</a></li>
        <li class="active"><a href="/recovery/">login</a></li>
        <li><a href="/recovery/get_servers">get_servers</a></li>
        <!-- <li><a href="/recovery/get_server_input_form">get server input</a></li> -->
        <li><a href="/recovery/file_upload">file upload</a></li>
        <li><a href="/recovery/usertoqueue">usertoqueue</a></li>
      </ul>
 </div>
 {% endblock %}